<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0">
	<div class="container">
	  <div *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</div>
	  <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
		 aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
		 <span class="d-flex justify-content-start align-items-center">
			<i class="fas fa-bars"></i>
		 </span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarExample01">
		 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item active">
			  <a class="btn btn-outline-dark " routerLink = '/resume/general' >General Information</a>
			</li>
			<li class="nav-item">
			  <a class="btn btn-outline-dark " routerLink = '/resume/education'>Education details</a>
			</li>
			<li class="nav-item active">
			  <a class="btn btn-outline-dark " routerLink = '/resume/work'>Work Experience</a>
			</li>
			<li class="nav-item">
			  <a class="btn btn-outline-dark " routerLink = '/resume/skills'>Skills</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-outline-dark " routerLink = '/resume/motivation'>Motivation</a>
			 </li>
		 </ul>
	  </div>
	</div>
 </nav>





<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />



<section *ngFor="let user of users" class="section"> 
    <div class="container">
   

    
        
            
                
    
               
           
      
  

    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-dark mt-4">Why did you join Talan Tunisia ?</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="job-detail mt-2 p-4">
                <div class="job-detail-desc">
                  <p> {{user.motivation}}</p>
                </div>
            </div>
        </div>
    </div>       
    
</div>
</section>
